/* styles.css */
body {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg'");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: bisque;

    
}
.cardclass{
    margin-top: 30px;
    color:#0c6ffd;
}